wait_ccprovider.sh filter=lfs diff=lfs merge=lfs -text
wait_for_it.sh filter=lfs diff=lfs merge=lfs -text
wait_hub.sh filter=lfs diff=lfs merge=lfs -text
LICENCE_README.txt filter=lfs diff=lfs merge=lfs -text
gateway.gci filter=lfs diff=lfs merge=lfs -text
gateway.sh filter=lfs diff=lfs merge=lfs -text
gateway2.linux_64 filter=lfs diff=lfs merge=lfs -text
geneos-gateway-6.4.0-linux-x64.tar filter=lfs diff=lfs merge=lfs -text
gateway.setup.xml filter=lfs diff=lfs merge=lfs -text
# Encrypt the repository
# Remove/modify this line if the repository is meant to be open-source
*.* filter=git-crypt diff=git-crypt
.gitattributes !filter !diff

# These files are text and should be normalized (Convert crlf => lf)
*.php text
*.css text
*.js text
*.htm text
*.html text
*.xml text
*.txt text
*.ini text
*.inc text
.htaccess text

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary

# Auto detect text files and perform LF normalization
# http://davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
* text=auto

# Documents
*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain
